extends _input.pug

block content 

    .detail-box 
        h1.primary-heading Booking details
        .booking-rows
          .column-booking
            label.name.booking-info-label User name
            input.booking-input.email(type='text' readonly value=`${booking.user.name}`)  
          .column-booking
            label.booking-info-label Tour name
            input.booking-input.tour-name(type="text" readonly value=`${booking.tour.tourName}`)
        .booking-rows    
          .column-booking
            label.booking-info-label Price
            input.booking-input.price(type="text" readonly value=`${booking.price}`) 
          .column-booking
            label.booking-info-label Paid
            input.booking-input.paid(type="text" readonly value=`${booking.paid === true ? 'Yes' : 'No'}`) 
        .booking-rows    
          .column-booking
            label.booking-info-label status
            input.booking-input.status(type="text" readonly value=`${booking.status}`)       
          .column-booking
            label.booking-info-label Booked date
            input.booking-input.booked-date(type="text" readonly value=`${new Date(booking.createdAt).toLocaleDateString()}`)  
        .booking-rows    
          .column-booking
            label.booking-info-label Tour date
            input.booking-input.booked-date(type="text" readonly value=`${new Date(booking.tourBookingDate).toLocaleDateString()}`)
          .column-booking
            label.booking-info-label Mail id
            input.booking-input.booked-date(type="text" readonly value=`${booking.user.email}`)  
        a.btn(href=`/tour/${booking.tour.slug}`) Tour info